@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
   --color-primary-body: rgb(17, 24, 39);
   --color-primary-text: #000000;
   --color-secondary-text: #ffffff;
   --color-terciario-text: rgb(59, 130, 246);
   --spacamento: 0.5rem;
   --button-priamary: rgb(30 58 138);
   --button-secondary-or-animation: rgb(37 99 235);
}



